*
!.gitignore
!README.md

!assertion_signing_key_pair_generator.py
!main.py
!test.py

#payload/
!payload/
!payload/*.py

#master/
!master/
!master/*.csv


!Procfile
!runtime.txt
!requirements.txt
!deploy.sh